<mat-sidenav-container class="dashboard-container !bg-transparent">
    <!-- sidebar -->
    <mat-sidenav #sidenav mode="side" opened fixedInViewport="fixed" class="shadow-xl !border-0">
      <mat-list role="list" class="!flex !flex-col">
        <!-- brand logo -->
        <a
          [routerLink]="'/'"
          class="cursor-pointer bg-center bg-no-repeat !bg-contain mb-8 h-80"
          [style.backgroundImage]="'url(assets/img/logo4.png)'"
        >
        </a>
        <ng-container>
          <a
          routerLinkActive="active"
          class="!flex justify-start items-center !rounded-none !mb-2 text-gray-600"
          mat-button
          *ngFor="let route of menuList"
          role="listitem"
          [routerLink]="[route.path]"
        >
          <mat-icon class="mx-3" mat-list-icon>{{ route.icon }}</mat-icon>
  
          {{ route.title }}
        </a>
        </ng-container>
  
      </mat-list>
    </mat-sidenav>
  
    <!-- dashboard content -->
    <mat-sidenav-content>
      <main class="flex flex-col">
        <app-top-navbar (toggleSideBar)="sidenav.toggle()"></app-top-navbar>
        <div class="container flex-grow p-4 mt-4">
          <router-outlet></router-outlet>
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>