<div>
    <section class="" *ngIf="cardList.length">
      <div class="max-w-7xl mx-auto">
        <div class="flex flex-wrap -m-4">
          <div class="xl:w-1/3 md:w-1/2 py-4 px-5" *ngFor="let item of cardList">
            <div class="border border-gray-300 p-6 rounded-lg">
              <h2 class="text-lg  font-medium title-font mb-2 text-color-primary"  *ngIf="item?.title">{{item?.title}} </h2>              
              <div class="text-center mt-2 leading-none flex justify-between w-full">
                <ng-container *ngIf="item?.data">
                  <span  [CountTo]="item.data" [from]="0"
                  [duration]="1" class=" mr-3 inline-flex items-center leading-none text-2xl  py-1 text-color-primary">
                   {{item.data}}
                  </span>
                </ng-container>
         
                <span *ngIf="item?.icon" class=" inline-flex items-center leading-none text-lg">
                   <mat-icon class="!text-3xl" [color]="item?.iconColor" >{{ item.icon}}</mat-icon>
                </span>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>

</div>
