<div class="lg:flex">
    <div
      class="hidden lg:flex flex-1 h-screen bg-cover bg-no-repeat p-6 flex-col"
      >
      <!-- [style.backgroundImage]="'url(assets/img/auth/bg.jpg)'" -->
      <div class="cursor-pointer flex items-center mt-12">
        <a
          routerLink="/"
          class="cursor-pointer bg-center bg-no-repeat !bg-contain h-12 w-12"
          [style.backgroundImage]="'url(assets/img/abanoubarnest.png)'"
        >
        </a>
        <div class="text-2xl text-white tracking-wide ml-2 font-semibold">Task Abanoub</div>
      </div>
      <div class="flex flex-1 justify-center flex-col">
        <div class="text-2xl text-white tracking-wide ml-2">Welcome to Abanoub </div>
        <!-- <div class="text-sm text-white tracking-wide ml-2 text-gray-300 mt-4">
          The ultimate management system for leasing companies
        </div> -->
      </div>
    </div>
    <div class="lg:w-3/5 lg:flex items-center justify-center">
      <div class="mt-12 px-12 sm:px-24 md:px-48 lg:px-12 lg:mt-0 xl:px-24 xl:max-w-2xl w-full">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
