<mat-toolbar color="primary">
    <button mat-icon-button (click)="onToggleSideBar()">
      <mat-icon> menu </mat-icon>
    </button>
  
    <span>Task Abanoub</span>
  
    <div class="!flex items-center !ml-auto" >
      <img class="rounded-full !h-7 !w-7 mx-1 object-cover"
        [src]="'assets/img/avatar.png'" />
      <span class="text-white">{{ user?.email }}</span>
      <button mat-button [matMenuTriggerFor]="menu" >
        <mat-icon class="nav-menu">more_vert</mat-icon>
      </button>
    </div>
 
  
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item routerLink="profile/settings">
        <mat-icon>settings</mat-icon>Settings
      </button> -->
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>Logout
      </button>
    </mat-menu>
  </mat-toolbar>
